@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

body {
  /* font-family: "Playfair Display", serif !important; */
  /* font-family: "Dosis", sans-serif !important; */
  font-family: "Roboto", sans-serif !important;
}
.material-icons {
  font-size: 20px;
  /* border: 1px solid black; */
}
.my-column-1 {
  height: 100vh;
  background: linear-gradient(180deg, #2c5364, #203a43, #0f2027);
  position: relative;
  text-align: center;
  color: white;
}
.my-column-2 {
  height: 100vh;
  background: linear-gradient(180deg, #2c5364, #203a43, #0f2027);
}

.image-content {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tally-text {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tool-content {
  color: #fff;
}

.loginbox {
  border-radius: 20px;
  width: 320px;
  height: 420px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  position: absolute;
  box-sizing: border-box;
  padding: 70px 30px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

h4 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 20px;
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input {
  margin-bottom: 20px;
  width: 100%;
}

.loginbox input[type="text"],
input[type="password"] {
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.loginbox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #ffd358;
  color: #000;
  font-weight: bold;
  border-radius: 20px;
  font-size: 18px;
}

.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: green;
  color: #fff;
  font-weight: bold;
}

.loginbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
}

.loginbox a:hover {
  color: #ffd358;
}

:root {
  --offcanvas-width: 250px;
  --topNavbarHeight: 56px;
}

.sidebar-nav {
  width: var(--offcanvas-width);
}

.sidebar-link {
  display: flex;
  align-items: center;
}

.sidebar-link .right-icon {
  display: inline-flex;
  transition: ease 0.5s;
}

.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }

  .sidebar-nav {
    transform: none;
    visibility: visible !important;
    top: var(--topNavbarHeight);
    height: calc(100% - var(--topNavbarHeight));
  }

  main {
    margin-left: var(--offcanvas-width);
  }
}

.card-header .period-buttons {
  font-size: 11px !important;
}

.dash-cards .card:hover {
  /* transform: scale(1.05); */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
.dash-cards .card {
  border-radius: 6px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}

.card-content {
  height: 143.2px !important;
  /* width: 274px !important; */
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #006466;
  border-radius: 50%;
  display: inline-block;
}

.btn-group .btn {
  background: rgba(0, 18, 25, 0.7);
  border: none;
  color: #fff;
}

.navbar {
  background: linear-gradient(90deg, #2c5364, #203a43, #0f2027);
}
